/* BASE STYLES */

html {
  height: 100%;
}

:root {
  --font-family: "Work Sans", sans-serif;
  --font-family-alt: "DM Sans", sans-serif;
  --white: #fff;
  --black: #1e1e1e;
  --gray-1: #888888;
  --gray-2: #dddddd;
  --accent: #e50000;

  --spacing: 8px;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-alt);
}

h3,
p {
  font-size: 1rem;
}

img {
  width: min(100%, 500px);
}

header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 320px;
  padding-left: 8px;
  border: none;
  height: 48px;
}

ul {
  padding: 0;
}

a {
  color: inherit;
  width: fit-content;
}

footer {
  margin-top: auto;
}

/* LAYOUT UTILITIES */

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.text-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.square-aspect-ratio {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.padding-v-2 {
  padding-block: calc(var(--spacing) * 2);
}

.padding-v-4 {
  padding-block: calc(var(--spacing) * 4);
}

.padding-h-4 {
  padding-inline: calc(var(--spacing) * 4);
}

.space-between {
  justify-content: space-between;
}

.vertical-center-align {
  display: flex;
  align-items: center;
}

.fit-content {
  width: fit-content;
}

.m-auto {
  margin-inline: auto;
}

.img-wrapper {
  max-width: 500px;
}

/* APPEARANCE UTILITIES */

.title {
  text-transform: uppercase;
}

.bg-accent {
  background-color: var(--accent);
  color: var(--white);
}

.bg-dark {
  background-color: var(--black);
  color: var(--white);
}

.bg-gray-1 {
  background-color: var(--gray-1);
  color: var(--white);
}

.bg-gray-2 {
  background-color: var(--gray-2);
  color: var(--black);
}

/* LESSON UTILITIES */

/* Task 1 */
.odyssey-stack {
}

/* Task 2 */
.odyssey-background {
}

/* Task 3 */
.odyssey-scrollbars::-webkit-scrollbar {
}

.odyssey-scrollbars::-webkit-scrollbar-track {
}

.odyssey-scrollbars::-webkit-scrollbar-thumb {
}

/* Task 4 */
.odyssey-button {
}

.odyssey-button[data-size="small"] {
}

.odyssey-button[data-color="red"] {
}

.odyssey-button[data-color="red"]:active {
}
